project:
  type: website

website:
  title: "LETÍCIA OLIVERA<br><small>psicóloga</small>"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - quartz
      - brand
    css: styles.css
    toc: true
    body-attrs: "class=title-centered"
